.form-container{
      display: flex;
      justify-content: center;
      margin: 0 auto;
      width: 500px;
      height: 600px;
      border: 1px solid rgb(216, 206, 206);
      
}
.input-group input{
      margin-bottom: 30px;
      border-radius: 5px;
 width: 400px;
 height: 55px;
}
.input-group label{
      display: block;
}
.title{
      font-weight: 400px;
}
.form-button{
      border: none;
      border-radius: 5px;
      height: 55px;
      width: 400px;
     background-color: 
     rgba(255, 153, 0, 0.3);;
    font-weight: 400px;
    cursor: pointer;
}
a{
   color:orange;
}
